body
{
    background-image: url("https://th.bing.com/th/id/OIP.BfJifrkoNYHVOc9-_zx_9QHaEo?pid=ImgDet&rs=1");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    
}
h1{
    font-size: 60px;
}
.countdown
{
    display: flex;
    transform: scale(1);
}
.time
{
    margin:15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.time h2
{
    margin-top: 5px;
    margin-top: 0;
    font-size: 30px;
}
.year
{
    font-size: 200px;
    position: absolute;
    opacity: 0.2;
    bottom:15px;
}